{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/global/base.css' %}"/>
<link rel="stylesheet" href="{% static 'css/landing/home.css' %}"/>
{% endblock styles %} 

{% block content %}
<div class="background-container">
  <img src="{% static 'images/events/BG4.jpg' %}" alt="Background Image" class="background-image">
</div>

<div class="landing-info glassmorphism">
  <h1 class="landing-title">WorkSphere</h1>
    <p class="landing-subtitle">Connect, Grow, and Succeed</p> <!-- Subtítulo adicional -->
    <p class="landing-description">Discover upcoming work events and expand your professional network.</p>
    <ul class="landing-benefits">
      <li>Stay updated on industry events</li>
      <li>Expand your professional connections</li>
      <li>Access exclusive resources</li>
    </ul>
    <a href="{% url 'register' %}" class="sign-up-button">Sign Up</a>
</div>

<div class="invisible-container">
  <div class="carousel-container">
      <div class="main-image">
          <img src="{% static 'images/events/evento_1/Evento1Horz.png' %}" alt="Imagen principal del Evento 1" id="mainImage">
      </div>
      <div class="preview-container">
          <button class="nav-button prev" aria-label="Evento anterior">&lt;</button>
          <div class="preview-scroll">
              <img src="{% static 'images/events/evento_1/Evento1Vert.png' %}" alt="Vista previa del Evento 1" class="preview-image active" data-main="{% static 'images/events/evento_1/Evento1Horz.png' %}">
              <img src="{% static 'images/events/evento_2/Evento2Vert.png' %}" alt="Vista previa del Evento 2" class="preview-image" data-main="{% static 'images/events/evento_2/Evento2Horz.png' %}">
              <img src="{% static 'images/events/evento_3/Evento3Vert.png' %}" alt="Vista previa del Evento 3" class="preview-image" data-main="{% static 'images/events/evento_3/Evento3Horz.png' %}">
              <img src="{% static 'images/events/evento_4/Evento4Vert.png' %}" alt="Vista previa del Evento 4" class="preview-image" data-main="{% static 'images/events/evento_4/Evento4Horz.png' %}">
              <img src="{% static 'images/events/evento_5/Evento5Vert.png' %}" alt="Vista previa del Evento 5" class="preview-image" data-main="{% static 'images/events/evento_5/Evento5Horz.png' %}">
          </div>
          <button class="nav-button next" aria-label="Evento siguiente">&gt;</button>
      </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/global/base.js' %}"></script>
<script src="{% static 'js/landing/home.js' %}"></script>
{% endblock scripts %}